<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <form action="" method="post">
        <div>
            Username: <input type="text" th:field="${user.username}" />
        </div>
        <div>
            Password: <input type="password" th:field="${user.password}" />
        </div>
        <div>
            Full Name: <input type="text" th:field="${user.name}" />
        </div>
        <hr>
        <div>
            Address Line 1: <input th:field="${address.addressLine1}" type="text">
        </div>
        <div>
            Address Line 2: <input th:field="${address.addressLine2}"  type="text">
        </div>
        <div>
            City: <input th:field="${address.city}"  type="text">
        </div>
        <div>
            Region: <input th:field="${address.region}"  type="text">
        </div>
        <div>
            Country: <input th:field="${address.country}"  type="text">
        </div>
        <div>
            Zip Code: <input th:field="${address.zipCode}"  type="text">
        </div>
        <div>
            <input type="submit" value="Update User Account" />
        </div>
    </form>
    <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
        <input type="submit" value="Delete User Account" />
    </form>
    <hr>
    <h2>Accounts</h2>
</div>

</body>
</html>